<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />

      @if (submitted && f['email']?.errors) {
      <div class="error">
        @if (f['email']?.errors?.['required']) {
        <span>El email es obligatorio</span>
        }
        @if (f['email']?.errors?.['email']) {
        <span>Formato de email inválido</span>
        }
      </div>
      }
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password" />

      @if (submitted && f['password']?.errors) {
      <div class="error">
        @if (f['password']?.errors?.['required']) {
        <span>La contraseña es obligatoria</span>
        }
        @if (f['password']?.errors?.['minlength']) {
        <span>La contraseña debe tener al menos 6 caracteres</span>
        }
      </div>
      }
    </div>

    @if (loginError) {
    <div class="error">
      {{ loginError }}
    </div>
    }

    <button type="submit">Ingresar</button>
  </form>
</div>