<nav class="classic-navbar">
    <div class="nav-container">
        <ng-container *ngFor="let item of menuItems">
            <button mat-button [matMenuTriggerFor]="subMenu" [routerLink]="item.route" routerLinkActive="active-item"
                class="nav-button">
                {{ item.label }}
                <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #subMenu="matMenu" xPosition="after" class="custom-menu">
                <button mat-menu-item *ngFor="let child of item.children" [routerLink]="child.route"
                    routerLinkActive="active-subitem">
                    <span>{{ child.label }}</span>
                </button>
            </mat-menu>
        </ng-container>
    </div>
</nav>