.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.a {
  flex-grow: 2;
  flex-shrink: 1;
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition: transform 0.35s ease 0s;
}

.a:hover {
  transform: rotate(360deg);
}

.b {
  flex-grow: 1;
  flex-shrink: 3;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
}

.c {
  flex-grow: 1;
  flex-shrink: 3;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 170, 12);
}
